.facetContainer {
  flex-basis: 20%;
  margin: 15px auto;
  overflow-y: scroll;
  max-height: 100vh;
}

.appliedFilters {
  padding: 0 10px;
  margin-bottom: 20px;
  display: flex;
  margin-right: 20px;
  flex-flow: column wrap;
  justify-items: flex-start;
}

.appliedFilter {
  border: 1px dashed lightblue;
  padding: 5px 10px;
  border-radius: 4px;
  text-transform: capitalize;
  margin: 5px 0;
}

.select {
  height: 36px;
  width: 75%;
  outline: none;
}

.removeButton {
  border: none;
  background: none;
  display: flex;
  font-size: 1.25rem;
  font-weight: bold;
  position: relative;
  color: #888;
  padding: 0;
  float: right;
  top: -13px;
}

.removeButton:hover {
  cursor: pointer;
  color: black;
}

.facetItem {
  padding: 0 10px;
}

.facetSection {
  border: none;
  margin: 10px auto;
  padding: 0;
}

.facetSectionTitle {
  font-weight: bold;
  font-size: 1.25rem;
}

.facetOptionsContainer {
  margin-left: 5px;
}
