.nav {
  margin: 10px auto;
}

.page {
  display: inline-flex;
  margin-right: 4px;
}

.pageLink {
  padding: 5px 10px;
  border: 1px solid #888;
  outline: none;
  color: #888;
  border-radius: 4px;
  text-decoration: none;
}

.pageLink:hover {
  font-weight: bold;
  cursor: pointer;
}

.currentPageLink {
  font-weight: bold;
  border-color: black;
  color: black;
}

.pageLink:hover {
  font-weight: bold;
}
