.resultsContainer {
  flex: 1;
  max-height: 100vh;
  overflow-x: scroll;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 32.3333%);
  grid-gap: 1rem;
  justify-content: space-between;
}
