.card {
  background: rgb(245, 245, 245);
  padding: 15px;
  display: inline-flex;
  width: 100%;
  box-sizing: border-box;
  flex-flow: column wrap;
  margin: 5px auto;
}

.cardTitle {
  margin: 10px 0;
}

.cardButton {
  border-radius: 4px;
  margin: 5px 0;
  padding: 13px 10px;
  border: 1px solid lightblue;
  background: lightblue;
  color: white;
  text-decoration: none;
  display: inline-flex;
  max-width: 220px;
  text-transform: uppercase;
  justify-content: center;
  font-weight: bold;
}

.cardButton:hover {
  background: #78bac1;
}

.imageContainer {
  max-width: 100%;
  background-size: cover;
  min-height: 218px;
}
